SERVER_PORT="8090"
SPRING_DATASOURCE_URL="jdbc:postgresql://db.nlowbwnnzyywftsseamc.supabase.co:5432/postgres"
SPRING_DATASOURCE_USERNAME="postgres"
SPRING_DATASOURCE_PASSWORD="[YOUR-PASSWORD]"
SCALEWASH_FINANCE_ZONE="Asia/Jakarta"
